<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <title>Trade-In</title>
        <link rel="stylesheet" href="CSS/trades.css">
    </head>
    <body>
        <nav>
            <a href="/"><img class="Image" src="Images/Logo.jpg" alt="Logo" width="80px" height="80px"></a>
            <ul class="nav-bar">
                <li><a href="newTrade">Start Trading! </a></li>
                <li><a href="#"> Login  |  </a></li>
                <li><a href="#">Sign up</li>
            </ul>
            <hr>
            <a class="tradesLink" href="trades">Trades</a>
        </nav>
        <div class="display">
            <a>SUV</a>
                <div class="card1">
                    <ul>
                        <li>
                            <div class="cards">
                            <a href="trade">
                                <figure class="card">
                                <img src="Images/Compact SUV.jpg" />
                                <figcaption>Compact SUV</figcaption>
                            </figure>
                            </a>
                            <a href="trade">
                            <figure class="card">
                                <img src="Images/Crossover SUV.jpg" />
                                <figcaption>Crossover SUV</figcaption>
                            </figure>
                            </a>
                            <a href="trade">
                            <figure class="card">
                                <img src="Images/Electric SUV.jpg" />
                                <figcaption>Electric SUV</figcaption>
                            </figure>
                            </a>
                        </div>
                    </li>
                    </ul>
                </div>
            </div>    
            <a>Sedan</a>
                <div class="card2">    
                    <ul>
                        <li>
                            <div class="cards">
                                <a href="trade">
                                    <figure class="card">
                                    <img src="Images/Compact Sedan.jpg" />
                                    <figcaption>Compact Sedan</figcaption>
                                </figure>
                                </a>
                                <a href="trade">
                                <figure class="card">
                                    <img src="Images/Executive Sedan.jpg" />
                                    <figcaption>Executive Sedan</figcaption>
                                </figure>
                                </a>
                                <a href="trade">
                                <figure class="card">
                                    <img src="Images/Grand Sedan.jpg" />
                                    <figcaption>Grand Sedan</figcaption>
                                </figure>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <footer class="footer-box">
            <div>
                <p>Copyright &copy;2023 | <a href="#"> About</a> | <a href="#">Contact </a>
                </p>
            </div>
        </footer>
    </body>
</html>


