<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <title>Trade-In</title>
        <link rel="stylesheet" href="CSS/trade.css">
    </head>
        <body>
            <nav>
                <a href="/"><img class="Image" src="Images/Logo.jpg" alt="Logo" width="80px" height="80px"></a>
                <ul class="nav-bar">
                    <li><a href="newTrade">Start Trading! </a></li>
                    <li><a href="#"> Login  |  </a></li>
                    <li><a href="#">Sign up</li>
                </ul>
                <hr>
                <a class="tradesLink" href="trades">Trades</a>
            </nav>
            <div id="combine">
                <div id="left"><img class="combine-class" src="Images/SUV.jpg" alt="SUV" height="200px" width="400px"></div>
                    <h3>Model : SUV</h3>
                    <h3>Type : Compact</h3>
                    <p>
                        A compact sport utility vehicle or compact SUV is a class of small sport utility vehicles that is larger than mini SUVs, but smaller than mid-size SUVs. 
                        However, there is no official definition of the size or dimensions for this market segment. A compact SUV typically has a unibody design, which means that the body and frame are a single component. 
                        A unibody resists flexing during turns, so it handles more like a car than an SUV on the road. With a compact SUV, you may sacrifice the ability to drive in off-road conditions. 
                        You'll enjoy much better handling on the road, though. Since many compact SUVs also have all-wheel drive available, they'll handle better on the road during poor weather than many cars would.
                        In terms of safety, a compact SUV actually gives you some of the best features of both cars and SUVs. With a compact SUV, you have a vehicle that's heavier than most cars which gives you an inherent safety advantage in a collision. 
                        Because a compact SUV has a unibody design, though, you also get crumple zones that can greatly increase your chance of survival in the event of frontal impact. Since many full-sized SUVs use body-on-frame designs, they typically lack crumple zones.The design of a compact SUV is such that the driver typically has a much better view of the road than he or she would in a car. Relative to a sedan, in other words, a compact SUV typically positions the driver's hips much further from the ground.
                    </p>
                    </div>
            </div>    
            <button class="button button1">Edit</button>
            <button class="button button2">Delete</button>
            <footer class="footer-box">
                <div>
                    <p>Copyright &copy;2023 | <a href="#"> About</a> | <a href="#">Contact </a>
                    </p>
                </div>
            </footer>
        </body>
</html>