<%- include('./partials/header.ejs')%>
    <div>
        <h3>Start your purchase online by browsing our inventory of used vehicles, estimating your trade-in value and monthly payments.</h3>
        <p>Changing Perceptions about car Buying.</p>
    </div>
<%- include('./partials/footer.ejs')%>
