<%- include('./partials/header.ejs') %>
    <header>
        <div class="center-text">
            <h2>Welcome to My car Trade-In & Exchange!</h2>
            <marquee direction="right" scrollamount="9">Here come and trade your favorite car.</marquee>
            </div>
    </header>
            <div class="slideshow-container">
                <div class="mySlides fade">
                  <img src="/public/Images/Tesla.jpg" style="width:100%">
                </div>
                <div class="mySlides fade">
                  <img src="/public/Images/Ford.jpg" style="width:100%">
                </div>
                <div class="mySlides fade">
                    <img src="/public/Images/BMW.jpg" style="width:100%">
                  </div>
                </div>
<%- include('./partials/footer.ejs') %>        
